.github/                  export-ignore
playground/               export-ignore
tests/                    export-ignore
ecs.php                   export-ignore
rector.php                export-ignore
phpstan.neon              export-ignore
phpstan.dev.neon          export-ignore
phpstan-baseline.neon     export-ignore
phpunit.xml.dist          export-ignore

scoped-dependencies/build/php-scoper.phar  export-ignore
scoped-dependencies/build/scoper.inc.php   export-ignore
