parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method object\\:\\:createBuilder\\(\\)\\.$#"
			count: 1
			path: src/Controller/CKFinderController.php

		-
			message: "#^Call to an undefined method object\\:\\:render\\(\\)\\.$#"
			count: 1
			path: src/Controller/CKFinderController.php

		-
			message: "#^Using nullsafe method call on non\\-nullable type object\\. Use \\-\\> instead\\.$#"
			count: 2
			path: src/Controller/CKFinderController.php

		-
			message: "#^Method CKSource\\\\Bundle\\\\CKFinderBundle\\\\DependencyInjection\\\\CKSourceCKFinderExtension\\:\\:registerServicesMap\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/CKSourceCKFinderExtension.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition\\:\\:append\\(\\)\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition\\:\\:children\\(\\)\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition\\:\\:children\\(\\)\\.$#"
			count: 2
			path: tests/Config/Definition/VariableArrayNodeTest.php

		-
			message: "#^Cannot access offset 'config' on object\\.$#"
			count: 2
			path: tests/DependencyInjection/CKSourceCKFinderExtensionTest.php

		-
			message: "#^Cannot access offset 'config' on object|null\\.$#"
			count: 2
			path: tests/DependencyInjection/CKSourceCKFinderExtensionTest.php

		-
			message: "#^Cannot access offset 'my_ftp' on mixed\\.$#"
			count: 1
			path: tests/DependencyInjection/CKSourceCKFinderExtensionTest.php

